<template>
    <div class="tab-bar-item" @click="itemClick">
        <div v-if="!isActive" class="item-icon" >
            <slot name="item-icon"></slot>
        </div>
        <div v-else class="item-icon" >
            <slot name="item-icon-active"></slot>
        </div>
        <div :class="{textActive:isActive}">
            <slot name="item-text"></slot>
        </div>    
           
    </div>
</template>

<script>
export default {
    name: "TabBarItem",
    props:{
        path:String
    },
    data() {
        return {
            //  isActive:true
        }
    },
    computed:{
        isActive(){
            return this.$route.path.indexOf(this.path)==!-1//当route中的path等于tabBarItem的当前path时，indexof的值不为-1，此时isActive返回值为true
        }
    },
    methods:{
        itemClick(){
           this.$router.replace(this.path)
        }
    }
}
</script>

<style>
  .tab-bar-item {
    flex: 1;/*所有元素均等分布局*/
    text-align: center;
    font-size: 12px;
    }

  .item-icon img{
     width: 25px;
     height: 25px;
    }

   .textActive{
    color: crimson;
   } 

</style>