<template>
    <div id="tab-bar">
        <slot></slot>
    </div>
</template>

<script>
export default {
    name:"TabBar"
}
</script>

<style>
    #tab-bar {
    display: flex;/*调整样式为水平布局*/
    background-color: #f6f6f6;
    padding-top: 5px;
    height: 49px;/*移动端开发，tabbar高度一般是49px*/

    position: absolute;/*fixed表示固定显示，position是以body为基准，通过设置上、下、左、右来设置该元素相对body的位置*/
    left: 0;
    right: 0;
    bottom: 0;
    
    box-shadow: 0 -3px 10px rgba(100, 100, 100, 0.2);/*box-shadow四个参数分别是，相对本体为原点，shadow在x,y轴的偏移量，以及shadow的透明度（值越高越模糊）和阴影颜色*/
    }

  
</style>