@import "./normalize.css";

/* 获取根元素，这里就是html，
下面通过{--变量名：值}的方式定义了一些变量，后续可通过var(--变量名)的方式来获取其值 */
:root {
    --color-text: #666;
    --color-high-text: #ff5777;
    --color-tint: #ff8198;
    --color-background: #fff;
    --font-size: 14px;
    --line-height: 1.5;
}

/*     *为通配符，表示对所有元素都适用 */
*
*::bef ore,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*控制使子容器不撑爆父容器*/
}

/* 标签选择器，这里设置的样式对body标签内的所有元素生效 */
body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    user-select: none ;/* 禁止用户鼠标在页面上选中文字、图片等*/
    -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
    background: var(--color-background);
    color: var(--color-text);
    width: 100vw;/*100v表示100%屏幕宽度，即全屏显示*/
}

a {
    color: var(--color-text);
    text-decoration: none;
}   
/* 
.clear-fix::after {
    clear: both;
    content: '';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
  }
  
  .clear-fix {
    zoom: 1;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
   */
